@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 255, 255); /* White text color */
  background-color: #000; /* Black background color */
}

.bg-custom-gray {
  background-color: #606060;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.studyAnimation {
  width: 500px;
}

@media (max-width: 768px) {
  .studyAnimation {
    width: 300px;
  }
}

@keyframes expand {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 1000px;
    height: 1000px;
  }
}

.expand-animation {
  animation: expand 0.5s forwards;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myProjects {
  @media (max-width: 1560px) {
    padding: 20%;
  }
}

.links {
  position: fixed; /* By default, set the position to fixed */
}

@media (max-width: 1300px) {
  .links {
    position: relative; /* When viewport width is less than or equal to 1300px, change position to relative */
  }
}
